*__pycache__
node_modules
.env
.venv*
.DS_Store
.vscode

*.bin

#Large files
2023_Completo_redem_0304.xlsx
studies/fake_news/df_res.csv

#Chroma
*.chroma_db
*.sqlite3
*.pickle


#Latex
*.aux
*.log
*.out
*.pdf
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.nav
*.snm
*.synctex.gz